# Dependencias de Node.js
node_modules/

# Archivos compilados por Webpack
assets/js/dist/
assets/css/dist/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de caché
.cache/